# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=guss_game_user
DB_PASSWORD=guss_game_password
DB_DATABASE=guss_game_database
DB_LOGGING=false

# Game Configuration
ROUND_DURATION=60
COOLDOWN_DURATION=30

# JWT
JWT_SECRET=secret-key
JWT_EXPIRES_IN=7d

# Server
PORT=3000
NODE_ENV=development

# Frontend
FRONTEND_URL=http://localhost:5173

